.header_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f218;
}

.header_logo img {
  height: 50px;
  width: auto;
  transition: transform 0.2s ease-in-out;
}

.header_logo img:hover {
  transform: translateY(-12px);
}