.header_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f218;
}

.header_logo img {
  height: 50px;
  width: auto;
  transition: transform 0.2s ease-in-out;
}

.header_logo img:hover {
  transform: translateY(-12px);
}

nav {
  background-color: #333
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline; 
  margin-right: 20px;
}

a {
  text-decoration: none; 
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #ff9900; 
}
