.tilt-image {
  width: 200px;
  height: 200px;
  transition: transform 0.3s;

  transform-origin: center;
  will-change: transform;
}

.tilt-image:hover {
  transform: translate(-50%, -50%) scale(1.2) rotate(-15deg); /* Zde můžete upravit hodnoty, aby efekt byl takový, jaký chcete */
}
