body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}