:root {
  --text-color: #ffffffe1;
  --link-color: #ffa602e8;
  --background-color: #030303dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
