nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
}

nav .left a {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

nav .right a {
  color: #ffffff;
  margin: 0 10px;
}
